.comprar-menu {
  margin: 64px auto 24px auto;
}

.comprar-menu h2 {
  text-align: start;
  padding-left: 0;
}

.comprar-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.comprar-flex {
  display: flex;
  position: relative;
}

.comprar-grid > div {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 10px;
}

.comprar-grid > div:hover {
  box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.comprar-itens {
  padding: 14px 14px 10px 14px;
  border-top: 1px solid #eee;
}
